.ui-tabs-content {
    display: none;
    margin-top: -15px;
}
.ui-tabs-content-active {
    display: block;
}
.ui-btn-active {
    color: white;
    background-color : white;
    background: #FF9900;
}
